a, body, center, div, h1, h2, h3, h4, h5, h6, header, html, li, p, s, section, span, table, tbody, td, th, thead, time, tr, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

header, section {
    display: block
}

body {
    line-height: 1
}

ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    overflow-y: scroll;
    font-size: 15px
}

.btn, .h1, .h2, .h3, .h4, .h5, .h6, .td-name, a, body, h1, h2, h3, h4, h5, h6, p, td {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #707070;
    font-weight: 400;
    line-height: 1.75
}

p:not(:last-child) {
    margin-bottom: 1.25em
}

h1, h2, h3, h4, h5 {
    margin: 0 0 1rem;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    line-height: 1.21;
    color: initial
}

h1 {
    margin-top: 0;
    font-size: 3.052em
}

h2 {
    font-size: 2.441em
}

h3 {
    font-size: 1.953em
}

h4 {
    font-size: 1.563em
}

h5 {
    font-size: 1.25em
}

.badge {
    display: inline;
    padding: .2rem .5rem;
    line-height: inherit;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 77%
}

.ptb-100 {
    padding: 100px 0
}

.gray-light-bg {
    background: #f5f5f5
}

.primary-bg {
    background: #0073ec
}

.color-primary {
    color: #0073ec
}

.gradient-bg {
    background: linear-gradient(75deg, #0073ec 10%, #7100b9) !important
}

.white-bg {
    background: #fff
}

a {
    color: #0073ec
}

a:hover {
    color: #0073ec;
    text-decoration: none
}

.color-1 {
    color: #ff164e
}

.color-1-bg {
    background: rgba(255, 22, 78, .15)
}

.color-2 {
    color: #7100b9
}

.color-2-bg {
    background: rgba(145, 35, 255, .15)
}

.color-3 {
    color: #0073ec
}

.color-3-bg {
    background: rgba(0, 115, 236, .15)
}

.color-4 {
    color: #ff7c3f
}

.color-4-bg {
    background: rgba(255, 124, 63, .15)
}

.color-5 {
    color: #2ebf6d
}

.color-5-bg {
    background: rgba(46, 191, 109, .15)
}

.color-6 {
    color: #f25c7f
}

.color-6-bg {
    background: rgba(242, 92, 127, .15)
}

.primary-solid-btn, .solid-white-btn {
    padding: 12px 30px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 13px;
    transition: all .25s ease-in-out
}

.primary-solid-btn {
    border: 1px solid #0073ec;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .15);
    background-image: linear-gradient(to bottom, #0073ec, #214eec);
    color: #fff
}

.primary-solid-btn:hover {
    background: 0 0;
    color: #000000;
}

.primary-bg h1, .primary-bg p {
    color: #fff
}

.solid-white-btn {
    background: #fff;
    border-color: #fff;
    color: #0073ec
}

.solid-white-btn:hover {
    background: 0 0;
    color: #fff
}

.section-heading h2 span {
    font-weight: 400;
    font-size: 2rem
}

.gradient-overlay {
    position: relative;
    width: 100%
}

.gradient-overlay:before {
    position: absolute;
    content: '';
    background-image: linear-gradient(to left, rgba(0, 115, 236, .9), rgba(48, 97, 228, .88), rgba(75, 77, 217, .85), rgba(96, 52, 203, .88), rgba(113, 0, 185, .9));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.topbar-text ul li {
    font-size: 84%;
    line-height: 30px;
    color: #757575
}

.topbar-text ul li a {
    display: flex;
    align-items: center;
    color: #757575
}

.topbar-text ul li a:hover {
    color: #0073ec
}

.gradient-bg .topbar-text ul li, .gradient-bg .topbar-text ul li a {
    color: #fff;
    opacity: .8
}

.gradient-bg .topbar-text ul li a:hover {
    opacity: 1
}

.topbar-text ul li span {
    font-size: 84%
}

.header-main {
    position: relative;
    display: block
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%)
    }
    100% {
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes slideDown {
    0% {
        -moz-transform: translateY(-100%)
    }
    100% {
        -moz-transform: translateY(0)
    }
}

@-o-keyframes slideDown {
    0% {
        -o-transform: translateY(-100%)
    }
    100% {
        -o-transform: translateY(0)
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%)
    }
    100% {
        transform: translateY(0)
    }
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(0)
    }
    100% {
        -webkit-transform: translateY(-100%)
    }
}

@-moz-keyframes slideUp {
    0% {
        -moz-transform: translateY(0)
    }
    100% {
        -moz-transform: translateY(-100%)
    }
}

@-o-keyframes slideUp {
    0% {
        -o-transform: translateY(0)
    }
    100% {
        -o-transform: translateY(-100%)
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(-100%)
    }
}

.headroom {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    will-change: transform;
    transition: transform .3s linear;
    backface-visibility: hidden
}

@media (min-width: 320px) and (max-width: 992px) {
    .ptb-100 {
        padding: 55px 0
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .main-with-padding {
        padding-top: 92px !important
    }
}

.main-with-padding {
    padding-top: 105px
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px)
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px)
    }
}

@keyframes animatedBackground {
    from {
        background-position: 0 0
    }
    to {
        background-position: 100% 0
    }
}

.header-content {
    position: relative;
    padding: 0 0 50px 50px;
    overflow: hidden
}

.pricing-header {
    position: relative;
    background: 0 0
}

.pricing-header::after {
    content: "";
    display: block;
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40%;
    height: 1px;
    background: radial-gradient(at center center, #dee4ef 0, rgba(255, 255, 255, 0) 75%)
}

@keyframes loader1 {
    from {
        transform: scale(0, 0)
    }
    to {
        transform: scale(1, 1)
    }
}

@-webkit-keyframes loader1 {
    from {
        -webkit-transform: scale(0, 0)
    }
    to {
        -webkit-transform: scale(1, 1)
    }
}

@-webkit-keyframes ripple {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 115, 236, .1), 0 0 0 10px rgba(0, 115, 236, .1), 0 0 0 20px rgba(0, 115, 236, .1);
        box-shadow: 0 0 0 0 rgba(0, 115, 236, .1), 0 0 0 10px rgba(0, 115, 236, .1), 0 0 0 20px rgba(0, 115, 236, .1)
    }
    100% {
        -webkit-box-shadow: 0 0 0 10px rgba(0, 115, 236, .1), 0 0 0 20px rgba(0, 115, 236, .1), 0 0 0 30px rgba(0, 115, 236, 0);
        box-shadow: 0 0 0 10px rgba(0, 115, 236, .1), 0 0 0 20px rgba(0, 115, 236, .1), 0 0 0 30px rgba(0, 115, 236, 0)
    }
}

@keyframes ripple {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 115, 236, .1), 0 0 0 10px rgba(0, 115, 236, .1), 0 0 0 20px rgba(0, 115, 236, .1);
        box-shadow: 0 0 0 0 rgba(0, 115, 236, .1), 0 0 0 10px rgba(0, 115, 236, .1), 0 0 0 20px rgba(0, 115, 236, .1)
    }
    100% {
        -webkit-box-shadow: 0 0 0 10px rgba(0, 115, 236, .1), 0 0 0 20px rgba(0, 115, 236, .1), 0 0 0 30px rgba(0, 115, 236, 0);
        box-shadow: 0 0 0 10px rgba(0, 115, 236, .1), 0 0 0 20px rgba(0, 115, 236, .1), 0 0 0 30px rgba(0, 115, 236, 0)
    }
}

@-webkit-keyframes ripple-white {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .1), 0 0 0 20px rgba(255, 255, 255, .1), 0 0 0 40px rgba(255, 255, 255, .1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .1), 0 0 0 20px rgba(255, 255, 255, .1), 0 0 0 40px rgba(255, 255, 255, .1)
    }
    100% {
        -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, .1), 0 0 0 40px rgba(255, 255, 255, .1), 0 0 0 60px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 20px rgba(255, 255, 255, .1), 0 0 0 40px rgba(255, 255, 255, .1), 0 0 0 60px rgba(255, 255, 255, 0)
    }
}

@keyframes ripple-white {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .1), 0 0 0 20px rgba(255, 255, 255, .1), 0 0 0 40px rgba(255, 255, 255, .1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .1), 0 0 0 20px rgba(255, 255, 255, .1), 0 0 0 40px rgba(255, 255, 255, .1)
    }
    100% {
        -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, .1), 0 0 0 40px rgba(255, 255, 255, .1), 0 0 0 60px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 20px rgba(255, 255, 255, .1), 0 0 0 40px rgba(255, 255, 255, .1), 0 0 0 60px rgba(255, 255, 255, 0)
    }
}

.vps-hosting-pricing-table {
    overflow: visible;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-collapse: unset;
    border-spacing: 0 10px
}

.vps-hosting-pricing-table > thead {
    background-color: transparent
}

.vps-hosting-pricing-table > thead > tr > th {
    border: none;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: middle;
    font-family: Montserrat, sans-serif
}

.vps-pricing-row {
    text-align: left;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    border: solid 1px #ebebeb;
    -webkit-transition: all .1s linear;
    transition: all .1s linear
}

.vps-pricing-row > td:first-child {
    border-left: 2px solid transparent;
    border-radius: 4px 0 0 4px
}

.vps-pricing-row > td:last-child {
    border-right: 2px solid transparent;
    border-radius: 0 4px 4px 0;
    text-align: right
}

.vps-hosting-pricing-table > tbody > tr.vps-pricing-row:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02)
}

.vps-hosting-pricing-table > tbody > tr > td {
    padding: 20px 20px;
    border-right: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    vertical-align: middle
}

.vps-pricing-row > td {
    border: none
}

.vps-hosting-pricing-table > tbody > tr > td:first-child::before {
    content: attr(data-value);
    display: none;
    width: initial;
    height: initial;
    background-color: transparent;
    position: relative;
    left: initial;
    top: initial;
    opacity: 1
}

.vps-pricing-row > td:before {
    content: attr(data-value);
    display: none
}

table > tbody > tr > td:first-child:before {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    background-color: #0073ec;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

@media (max-width: 991px) {
    .vps-hosting-pricing-table > thead {
        display: none
    }

    .vps-pricing-row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        border-radius: 4px;
        width: 45%;
        float: left;
        margin: 0 15px 28px 15px
    }

    .vps-hosting-pricing-table > tbody > tr {
        padding: 15px
    }

    .vps-hosting-pricing-table > tbody > tr > td {
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 400
    }

    .vps-pricing-row:hover.border-accent-primary > td:first-child {
        margin-bottom: 0;
        border-radius: 0;
        border-left: none
    }

    .vps-pricing-row > td:first-child {
        border-left: none;
        border-radius: 0
    }

    .vps-hosting-pricing-table > tbody > tr > td:first-child::before {
        display: block;
        width: 45%
    }

    .vps-pricing-row > td:before {
        display: block;
        width: 45%
    }

    .vps-hosting-pricing-table > tbody > tr > td {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .vps-pricing-row > td:last-child::before {
        display: none
    }

    .vps-pricing-row > td:last-child {
        text-align: center !important;
        margin: auto
    }
}

@media (max-width: 768px) {
    .vps-pricing-row {
        width: 100%;
        float: none;
        margin-left: auto;
        margin-bottom: 15px
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .vps-pricing-row td a.primary-solid-btn {
        padding: 8px 12px !important
    }
}

.page-header-section {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden
}

.page-header-section:after {
    content: "";
    position: absolute;
    background-image: url(../img/clouds-right.png);
    right: 0;
    background-position: right bottom;
    z-index: 2;
    bottom: 0;
    width: 45%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat
}

.meta-list {
    opacity: .8;
    font-size: 95%
}

.meta-list li.list-inline-item:not(:last-child) {
    margin-right: .7rem
}

header, main, section {
    display: block
}

[type=button], [type=reset], [type=submit] {
    -webkit-appearance: button
}

.link-color {
    color: #707070
}