{% extends 'jitsi/base.html' %}
{% block title %}Jitsi Meetsi{% endblock %}
{% load static %}
{% block body %}




    <!--body content wrap start-->
    <div class="main main-with-padding">

        <!--page header section start-->
        <section class="page-header-section ptb-100 gradient-overlay"
                 style="background: url('{% static "img/hero-13.jpg" %}') no-repeat center center
                         / cover">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <div class="page-header-content text-white">
                            <h1 class="text-white mb-2">Jitsi Meetings</h1>
                            <p class="lead">This your dashboard for coming meetings.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--page header section end-->


        <!--vps hosting pricing plane start-->
        <section class="vps-pricing-plane ptb-100 gray-light-bg">
            <div class="container">
                {% if upcoming.count <= 0 %}
                    <div class="row justify-content-center">
                        <div class="col-md-9 col-lg-8">
                            <div class="section-heading text-center mb-5">
                                <h2>Coming Meetings</h2>
                                <p class="lead">Sorry! There's no coming meetings!</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="row justify-content-center">
                        <div class="col-md-9 col-lg-8">

                            <div class="section-heading text-center mb-5">
                                <h2>Coming Meetings</h2>
                                <p class="lead">Sorry! There's no coming meetings!</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <table class="table meetings-table">
                                <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Title</th>
                                    <th>Host</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for attending in upcoming %}
                                    <tr class="meetings-row border-accent-primary">
                                        <td data-value="Time">
                                            <p>
                                                <span class="meeting-time">{{ attending.meeting.start_time | date:"H:i" }}</span>
                                                <span class="meeting-date">{{ attending.meeting.start_time | date:"j M" }}</span>
                                            </p>
                                        </td>
                                        <td data-value="Title">{{ attending.meeting.subject }}</td>
                                        <td data-value="Host"><span class="badge color-3 color-3-bg">
                                        {% if attending.meeting.owner.first_name %}
                                            {{ attending.meeting.owner.first_name }}
                                        {% else %}
                                            {{ attending.meeting.owner.username }}
                                        {% endif %}
                                    </span>
                                        </td>
                                        <td>
                                            <a href="{% url "meeting" attending.meeting.room_id %}"
                                               class="btn primary-solid-btn">Enter</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>
        <!--vps hosting pricing plane end-->

    </div>
    <!--body content wrap end-->
{% endblock %}